*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: crimson;
    height: 70px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul a{
    display: inline-block;
    margin: 0 0.5rem;
    color: black;
}